{% extends './base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block body %}
<header id="header" class="header-top">
  <div class="container">

    <h1><a href="index.html">Dhanendra Kumar Sonber</a></h1>
    <h2>I'm a passionate <span>Python Developer</span> from Bhilai </h2>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="/home">Home</a></li>
        <li><a class="nav-link" href="/about/#about">About</a></li>
        <li><a class="nav-link" href="/project/#project">Projects</a></li> 
        <li><a class="nav-link" href="/resume/#resume">Resume</a></li>
        <li><a class="nav-link" href="/contact/#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    
  </div>
</header><!-- End Header -->   
<section id="projectlist1" class="project section">
    <div class="container">
      <div class="section-title">  
        <div><h3> Basic Python Projects </h3> 
            <ul>
                <li><a href="#">Python program to print "Hello Python"</a></li>
                <li><a href="#">Python program to do arithmetical operations</a></li>
                <li><a href="#">Python program to find the area of a triangle</a></li>
                <li><a href="#">Python program to solve quadratic equation</a></li>
                <li><a href="#">Python program to swap two variables</a></li>
                <li><a href="#">Python program to generate a random number</a></li>
            </ul>  
            <center><a href="/project/#project" class="previous" style="background-color: #595959;color: white;">&laquo; GO Back</a></center> 
        </div>
      </div>
    </div>
</section>
<section id="projectlist2" class="project section">
    <div class="container">
      <div class="section-title">  
        <div><h1> Machine Learning Projects </h1>
            <ul>
                <li><a href="#">Python program to print "Hello Python"</a></li>
                <li><a href="#">Python program to do arithmetical operations</a></li>
                <li><a href="#">Python program to find the area of a triangle</a></li>
                <li><a href="#">Python program to solve quadratic equation</a></li>
                <li><a href="#">Python program to swap two variables</a></li>
                <li><a href="#">Python program to generate a random number</a></li>
            </ul>  
            <center><a href="/project/#project" class="previous" style="background-color: #595959;color: white;">&laquo; GO Back</a></center>   
        </div>
      </div>
    </div>
</section>
<section id="projectlist3" class="project section">
    <div class="container">
      <div class="section-title">  
        <div><h1> Django Projects </h1>
            <ul>
                <li><a href="#">Python program to print "Hello Python"</a></li>
                <li><a href="#">Python program to do arithmetical operations</a></li>
                <li><a href="#">Python program to find the area of a triangle</a></li>
                <li><a href="#">Python program to solve quadratic equation</a></li>
                <li><a href="#">Python program to swap two variables</a></li>
                <li><a href="#">Python program to generate a random number</a></li>
            </ul>  
            <center><a href="/project/#project" class="previous" style="background-color: #595959;color: white;">&laquo; GO Back</a></center>   
        </div>
      </div>
    </div>
</section>

{% endblock body %}