{% extends './base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block body %}
<header id="header" class="header-top">
  <div class="container">

    <h1><a href="index.html">Dhanendra Kumar Sonber</a></h1>
    <h2>I'm a passionate <span>Python Developer</span> from Bhilai </h2>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="/home">Home</a></li>
        <li><a class="nav-link" href="/about/#about">About</a></li>
        <li><a class="nav-link" href="/project/#project">Projects</a></li> 
        <li><a class="nav-link active" href="#resume">Resume</a></li>
        <li><a class="nav-link" href="/contact/#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    
  </div>
  
</header><!-- End Header -->
  <section id="resume" class="resume section">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Dhanendra Kumar Sonber</h4>
            <p><em>B.Tech 'CSE' student from RCET Bhilai,Chhattisgarh.I am a passionate web developer working with and learning different technologies like django,mongodb,Git,code and also deployed projects using Python Anywhere and Heroku. Have knowledge of Python & C\C++ and have deep interest in data science and machine leraning. I am seeking for a job as a Software developer or software Analyst .I believe in Thinking outside the box and going the extra mile. I am a quick learner and I excel in my ability to work under pressure and handle stressful situations very well to deliver best quality work. </em></p>
            <p>
            <ul>
              <li>Vill-Ranwa (near New Market),Dhamtari</li>
              <li>493773</li>
              <li>Chhattisgarh,India</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>High School(10th)</h4>
            <h5>2016 - 2017</h5>
            <p><em>Model Eng Hr Sec School Dhamtari, Chhattisgarh</em></p>
            <p>76%</p>
          </div>
          <div class="resume-item">
            <h4>Higher Secondary(12th)</h4>
            <h5>2018 - 2019</h5>
            <p><em>Model Eng Hr Sec School Dhamtari, Chhattisgarh</em></p>
            <p>68%</p>
          </div>
          <div class="resume-item">
            <h4>B.Tech(CSE)</h4>
            <h5>2019 - 2023</h5>
            <p><em>Rungta College of Engineering and Technology Bhilai,Chhattisgarh</em></p>
            <p>84%(till 6th sem)</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">LANGUAGES/TOOLS</h3>
          <div class="resume-item">
            <p><em>Python | C/C++ | HTML | CSS | Bootstrap |MongoDB | VS Code | Google Colab | Git | Docker | Heroku | Python Anywhere</em></p>
            <p>
            </p>
          </div>
          <h3 class="resume-title">TRAINING/INTERNSHIPS</h3>
          <div class="resume-item">
            <p><em>One Month Data Science Internship remote from YBI Foundation.</em></p>

          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock body %}